@layer theme, base, components, utilities, mantine;

@import "tailwindcss";
@import "@mantine/core/styles.layer.css";

body {
  background: var(--mantine-color-gray-0);
  color: var(--mantine-color-dark-9);
  font-family: var(--font-figtree), sans-serif;
}
